<%- include ('../../includes/project/header.ejs') %>
</head>

<body>
   <%- include ('../../includes/project/nav.ejs') %>
   <div class="jumbotron text-center">
      <div class="container">
        <p>The page you were looking for at <%= path %> does not exist.</p>
      </div>
    </div>
    <%- include ('../../includes/project/footer.ejs') %>